<% include ../partials/head %>

	<% include ../partials/header %>
	<div id="content">
			<% include ../partials/menu %>
			
<h1>Ahil</h1>
<img src= "images/ahil.jpeg" alt = "Ahil">
<p>I am 20 years old, currently living in New York City while interning and going to school at NYU studying 
Economic Theory and Finance.My hobbies include DJing, producing music, and going to electronic music r
aves.I have always wanted to travel around and explore various countries in Europe (Italy, Spain, France,
Germany) and countries in Asia (Thailand, Indonesia, Nepal) and Africa as well (Kenya, Egypt, Tanzania)</p>

<% include ../partials/footer %>