<% include ../partials/head %>

    <% include ../partials/header %>
        <div id="content">
            <% include ../partials/menu %>
                <div class="container">
                    <h1>Cancun,MX</h1>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/cancun1.jpg" alt="Cancun">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/cancun2.jpg" alt="Cancun">
                            <h2> </h2>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/cancun3.jpg" alt="Canucun">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class="thumbnail " src="images/cancun4.jpg" alt="Cancun">
                            <h2> </h2>
                        </div>
                    </div>

                    <p>We went to the Riu Palace Peninsula, an all-inclusive resort. There we just ate, tanned at the beach,
                        swam in the pools and went on 2 excursions to X-Hel-a (a natural water park) and the Chichen Itza
                        (Mayan ruins). Cancun was a great break from our daily lives and I would definitely not mind going
                        again.
                    </p>
                    <% include ../partials/footer %>