<% include ../partials/head %>

	<% include ../partials/header %>
	<div id="content">
			<% include ../partials/menu %>
			
			<h1>Contact Us</h1>
			<div id="form">
				<form action="/contactUsSubmit" method="POST">
					<label for="fname">First Name*</label>
					<input type="text" id="fname" name="firstname" placeholder="Your name.." required>
					<label for="lname">Last Name*</label>
					<input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
					<label for="familyMember">Family Member</label>
					<select id="familyMember" name="familyMember">
						<option value="asif">Asif</option>
						<option value="ahil">Ahil</option>
						<option value="laila">Laila</option>
						<option value="ruhee">Ruhee</option>
					</select>
					<label for="message">Message*</label>
					<textarea rows="4" cols="50" id="message" name="message" placeholder="Your message..." required></textarea>
					<div class="formButton">
						<input type="reset" value="Reset">
						<input type="submit" value="Submit">
					</div>
				</form>
			</div>

			<% include ../partials/footer %>