
<% include ../partials/head %>

<% include ../partials/header %>
<div id="content">
        <% include ../partials/menu %>
        
<h1>Asif's Parents</h1>
<img src= "images/asifparent.jpg" alt = " Asif Parents">
<p> </p>
<h1>Laila's Parents</h1>
<img src= "images/lailaparent.jpg" alt = "Laila Parents">
<p> </p>


<% include ../partials/footer %>