<% include ../partials/head %>

  
        <div id="content">
            <% include ../partials/menu %>
                <div class="container">
                    <h1>Hawaii,US</h1>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/hawaii1.jpg" alt="Hawaii">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/hawaii2.jpg" alt="Hawaii">
                            <h2> </h2>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/hawaii3.jpg" alt="Hawai">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class="thumbnail " src="images/hawaii4.jpg" alt="Hawaii">
                            <h2> </h2>
                        </div>
                    </div>
                    <p>We decided to go to the big island and Maui. On the big island, we went to the volcano for a couple days
                        and then enjoyed the beautiful beach. We then continued to Maui and saw an amazing sun set, went
                        zip lining and went sightseeing along the Hana highway. The highway was home to the best Thai food
                        I’ve ever eaten. Although we had a couple bumps throughout this trip it was undoubtedly a whole bunch
                        of fun.</p>
                    <% include ../partials/footer %>