<% include ../partials/head %>

	<% include ../partials/header %>
	<div id="content">
			<% include ../partials/menu %>
			
			<h2>A little bit about us</h2>

			<img id="mainImage" src="/images/family.jpg" alt="Family Photo">
			<p id="mainParagraph">We are the Rajwani’s. Laila and Asif first met in 1994 and after being engaged for two years, got married in 1996. Soon
				after Ahil Rajwani came along and a little later me, Ruhee Rajwani. This website will give you details about each Rajwani
				and our family vacations.
			</p>

			<% include ../partials/footer %>