<% include ../partials/head %>

   
        <div id="content">
            <% include ../partials/menu %>
                <div class="container">
                    <h1>Italy</h1>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/italy1.jpg" alt="Italy">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/italy2.jpg" alt="Italy">
                            <h2> </h2>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/italy3.jpg" alt="Italy">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class="thumbnail " src="images/italy4.jpg" alt="Italy">
                            <h2> </h2>
                        </div>
                    </div>

                    <p>This trip was different for a couple reasons. This was our first vacation to Europe. We stayed in only
                        Airbnb’s, no hotels. We had no car and traveled only on foot, bus and train. The trip was 11 days
                        long and we each only had one carry on. We went to four different cities, Venice, Florence, Salerno
                        (which is on the coast) and Rome. Venice was my personal favorite. It was different. No big roads
                        just sidewalks, bridges, water and boats. It was beautiful and had the best gelato ever. In Florence,
                        we saw the statue of David and went on a tour to Sienna, San Gimignano and the Tower of Pisa. The
                        tower was my favorite part of my stay in Florence. In Salerno, we had a beautiful apartment 5 minutes
                        from the coast. We went to Pompeii and Capri (an island) during our stay. In Rome, we went on a tour
                        of the colosseum and Vatican. It was amazing seeing these sites in real life. Italy was definitely
                        the best vacation ever.</p>
                    <% include ../partials/footer %>