<% include ../partials/head %>

    <% include ../partials/header %>
        <div id="content">
            <% include ../partials/menu %>
                <div class="container">
                    <h1>Karachi</h1>
                    <img class=thumbnail src="images/pakistan1.jpg" alt="Pakistan">
                    <img class=thumbnail src="images/pakistan2.jpg" alt="Pakistan">
                    <img class=thumbnail src="images/pakistan3.jpeg" alt="Pakistan">
                    <img class=thumbnail src="images/pakistan4.jpeg" alt="Pakistan">
<p>My uncle’s wedding
			(Laila’s Brother) brought us there for a week. His wedding was lot’s
			of fun and gave me the opportunity to meet lot’s of family I haven’t
			seen in a while. We had good food and made a lot of great memories.
			Although like every other Pakistan trip, we left sick and miserable.
            I honestly do not know when I will go back.
        </p>
        <% include ../partials/footer %>