<% include ../partials/head %>

	<% include ../partials/header %>
	<div id="content">
			<% include ../partials/menu %>
			
<h1>Laila</h1>
<img src= "images/laila.jpg" alt = "Laila">
<p>It is very hard to explain what a mother is. It is a very passionate feeling being a person who loves, 
takes care and nurtures unconditionally. As my kids are growing up who are my heart and soul, who
walk around with dreams and aspirations for their future twinkling in their eyes. Want to see my family
happy, healthy and prosperous, mostly being humble and generous with their talents in helping people
in times of need. I guess, it sums up my identity as Laila Rajwani, who loves to travel, surrounded
with peace and laughter. </p>

<% include ../partials/footer %>