<% include ../partials/head %>
    
        <div id="content">
            <% include ../partials/menu %>
                <div class="container">
                    <h1>Maine,US</h1>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/maine1.jpg" alt="Maine">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/maine2.jpg" alt="Maine">
                            <h2> </h2>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/maine3.jpg" alt="Maine">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class="thumbnail " src="images/maine4.jpg" alt="Maine">
                            <h2> </h2>
                        </div>
                    </div>
                    <p>At this point in time Ahil was a working man. His summer job started in June and we needed to go on at
                        least one trip this summer. We needed something short but something that would also create lots of
                        fun memories. Acadia National Park was perfect. We saw beautiful sunrises, hiked beaches and mountains,
                        encountered some wonderful overlooks and, ate some amazing seafood and ice cream. We went on a couple
                        hikes but one was very different than what we were used to. It took more effort and strength than
                        any other hike we had ever experienced. We also got lost in the middle. At the end of the Schoodic
                        Point hike, we were better stronger people. I did not think this trip would be very fun, but now
                        I can never forget the wonderful time I had in Maine. </p>
                    <% include ../partials/footer %>