<% include ../partials/head %>

    
        <div id="content">
            <% include ../partials/menu %>
                <div class="container">
                    <h1>Florida,US</h1>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/florida1.jpg" alt="Florida">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/florida2.jpg" alt="Florida">
                            <h2> </h2>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class=thumbnail src="images/florida3.jpg" alt="Florida">
                            <h2> </h2>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <img class="thumbnail " src="images/florida4.jpg" alt="Florida">
                            <h2> </h2>
                        </div>
                    </div>


                    <p>We rented a huge air bnb for my mom, all her sisters, all her nephews and nieces and OFCOURSE ME. Our
                        house had a gorgeous pool and game room. We went to Magic Kingdom, Animal Kingdom, Disney Waterpark,
                        Universal, Sea World and Miami to see my uncle. This whole trip was full of pure fun. I had the chance
                        to get closer to my cousins while having fun. Sea World best roller coasters. Then we went to Miami
                        to see my mom's uncle and grandma. The trip to Florida was long but I had an amazing time and can't
                        wait to go again.</p>
                </div>
                <% include ../partials/footer %>