<% include ../partials/head %>

	<% include ../partials/header %>
	<div id="content">
			<% include ../partials/menu %>
			
<h1>Ruhee</h1>
<img src= "images/ruhee.jpg" alt = "Ruhee">
<p> This is Ruhee Rajwani. She is the youngest of the family. Born on December 7, 2002, she enjoys chocolate 
milkshakes and pasta. Ruhee loves to hang out with her friends and watch netflix.</p>

<% include ../partials/footer %>