<% include ../partials/head %>

	
		<div id="content">
			<% include ../partials/menu %>

				<h1>Vacations</h1>
				<p>The Rajwani's try to go on at least one family trip year. Some years it's simple and small and some years we go all out.
					Our vacations always include some hiccups, laughter and happy memories.</p>
		
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
						
						<img class=thumbnail src="images/maine1.jpg" alt="Maine">
						<h2><a href="maine">Maine, US</a></h2>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						
						<img class=thumbnail src="images/italy1.jpg" alt="Italy">
						<h2><a href="italy">Italy</a></h2>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						
						<img class=thumbnail src="images/cancun1.jpg" alt="Cancun">
						<h2><a href="cancun">Cancun,MX</a></h2>
					</div>
				
					<div class="col-lg-4 col-md-6 col-sm-12">
						
						<img class=thumbnail src="images/pakistan1.jpg" alt="Pakistan">
						<h2><a href="karachi">Karachi,PK</a></h2>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						
						<img class=thumbnail src="images/florida1.jpg" alt="Florida">
						<h2><a href="orlando">Florida,US</a></h2>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						
						<img class=thumbnail src="images/hawaii1.jpg" alt="Hawaii">
						<h2><a href="hawaii">Hawaii,US</a></h2>
					</div>

				</div>


		</div>


		<% include ../partials/footer %>