<% include ../partials/head %>

	<% include ../partials/header %>
	<div id="content">
			<% include ../partials/menu %>
			
		<h1>Vacations</h1>
		<p>The Rajwani's try to go on at least one family trip year. Some
			years it's simple and small and some years we go all out. Our
			vacations always include some hiccups, laughter and happy memories.</p>
			<h2>Maine</h2>
			<img class=thumbnail src="images/maine1.jpg" alt="Maine"> <img
			class=thumbnail src="images/maine2.jpg" alt="Maine"> <img
			class=thumbnail src="images/maine3.jpg" alt="Maine"> <img
			class=thumbnail src="images/maine4.jpg" alt="Maine">
			<p>At this point in time Ahil was a working man. 
				His summer job started in June and we needed to go on at least one trip this summer. 
				We needed something short but something that would also create lots of fun memories. 
				Acadia National Park was perfect. We saw beautiful sunrises, hiked beaches and mountains, 
				encountered some wonderful overlooks and, ate some amazing seafood and ice cream. 
				I did not think this trip would be very fun, but now I can never forget the wonderful time I had 
				in Maine. </p>

		<h2>Italy</h2>
		<img class=thumbnail src="images/italy1.jpg" alt="Italy"> <img
			class=thumbnail src="images/italy2.jpg" alt="Italy"> <img
			class=thumbnail src="images/italy3.jpg" alt="Italy"> <img
			class=thumbnail src="images/italy4.jpg" alt="Italy">
		<p>This trip was different for a couple reasons. This was our
			first vacation to Europe. We stayed in only Airbnb’s, no hotels. We
			had no car and traveled only on foot, bus and train. The trip was 11
			days long and we each only had one carry on. We went to four
			different cities, Venice, Florence, Salerno (which is on the coast)
			and Rome. Venice was my personal favorite. It was different. No big
			roads just sidewalks, bridges, water and boats. It was beautiful and
			had the best gelato ever. In Florence, we saw the statue of David and
			went on a tour to Sienna, San Gimignano and the Tower of Pisa. The
			tower was my favorite part of my stay in Florence. In Salerno, we had
			a beautiful apartment 5 minutes from the coast. We went to Pompeii
			and Capri (an island) during our stay. In Rome, we went on a tour of
			the colosseum and Vatican. It was amazing seeing these sites in real
			life. Italy was definitely the best vacation ever.</p>

		<h2>Cancun, Mexico</h2>
		<img class=thumbnail src="images/cancun1.jpg" alt="Cancun"> <img
			class=thumbnail src="images/cancun2.jpg" alt="Cancun"> <img
			class=thumbnail src="images/cancun3.jpg" alt="Cancun"> <img
			class=thumbnail src="images/cancun4.jpg" alt="Cancun">



		<p>Cancun, Mexico was a unique destination for the Rajwani’s.
			Usually we go to places which involve rigorous planning, schedules
			and walking. Cancun was a break from it all. We went to the Riu
			Palace Peninsula, an all-inclusive resort. There we just ate, tanned
			at the beach, swam in the pools and went on 2 excursions to X-Hel-a
			(a natural water park) and the Chichen Itza (Mayan ruins). Cancun was
			a great break from our daily lives and I would definitely not mind
			going again.</p>
		<h2>Karachi, Pakistan</h2>
		<img class=thumbnail src="images/pakistan1.jpg" alt="Pakistan">
		<img class=thumbnail src="images/pakistan2.jpg" alt="Pakistan">
		<img class=thumbnail src="images/pakistan3.jpeg" alt="Pakistan">
		<img class=thumbnail src="images/pakistan4.jpeg" alt="Pakistan">

		<p>Karachi is our families native home. My uncle’s wedding
			(Laila’s Brother) brought us there for a week. His wedding was lot’s
			of fun and gave me the opportunity to meet lot’s of family I haven’t
			seen in a while. We had good food and made a lot of great memories.
			Although like every other Pakistan trip, we left sick and miserable.
			I honestly do not know when I will go back.</p>
		<h2>Orlando, Florida</h2>
		<img class=thumbnail src="images/florida1.jpg" alt="Florida"> <img
			class=thumbnail src="images/florida2.jpg" alt="Florida"> <img
			class=thumbnail src="images/florida3.jpg" alt="Florida"> <img
			class=thumbnail src="images/florida4.jpg" alt="Florida">

		<p>Orlando was definitely a great trip. We rented a huge air bnb
			for my mom, all her sisters, all her nephews and nieces and OFCOURSE
			ME. Our house had a gorgeous pool and game room. We went to Magic
			Kingdom, Animal Kingdom, Disney Waterpark, Universal, Sea World and
			Miami to see my uncle. This whole trip was full of pure fun. I had
			the chance to get closer to my cousins while having fun. Sea World
			turned out to be much more fun than I thought, they actually had the
			best roller coasters. I cannot wait to go to Florida AGAIN this
			December with the other side of my family for my pou-poos wedding.</p>
		<h2>Hawaii</h2>
		<img class=thumbnail src="images/hawaii1.jpg" alt="Hawaii"> <img
			class=thumbnail src="images/hawaii2.jpg" alt="Hawaii"> <img
			class=thumbnail src="images/hawaii3.jpg" alt="Hawaii"> <img
			class=thumbnail src="images/hawaii4.jpg" alt="Hawaii">


		<p>Hawaii was the most we have ever planned for a trip. We had to
			figure out what islands, what to do, when to go and so so much more.
			We decided to go to the big island and Maui. On the big island, we
			went to the volcano for a couple days and then enjoyed the beautiful
			beach. We then continued to Maui and saw an amazing sun set, went zip
			lining and went sightseeing along the Hana highway. The highway was
			home to the best Thai food I’ve ever eaten. Although we had a couple
			bumps throughout this trip it was the most fun I have ever had.</p>



		 
 <% include ../partials/footer %>