</div>
<footer>
        <div class="row">
                <div class="col-sm-12">
                        © Made by Ruhee Rajwani
                </div>
        </div>
</footer>

</div>
</body>

</html>